# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/staging/
/out
*.mcpack
*.mcaddon

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*

# Reports
eslint_report.txt
validation_report

# Tool Caches
.eslintcache
*.tsbuildinfo
.prettiercache
/packs/behavior/scripts/
/packs/behavior/manifest.json
/packs/resource/manifest.json
